{% extends 'base.html' %}

{% block content %}
    <div class="content-section">
      <div class="d-flex">
        <img class="rounded-circle account-img" style="border:1px solid #aaa;width:100px;height:100px;" src="{{image_path}}">
        <div class="media-body">
          <h2 class="account-heading">{{current_user.username}}</h2>
          <p class="text-secondary">{{current_user.email}}</p>
        </div>
      </div>
    </div>

    <div class="content-section">
        <!-- empty action will post to the same route -->
        <!-- enctype is required for forms that upload files -->
        <form method="POST" action="" enctype="multipart/form-data">
            <!-- required for security -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account info</legend>
                
                <!-- Username field -->
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Email field -->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Profile picture field -->
                <div class="mt-3 form-group">
                    {{ form.picture.label(class="form-control-label") }}
                    <br />
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        <div>
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span> <br />
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group mt-3">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock %}