{% extends 'base.html' %}

{% block content %}
<h2>Edit post {{post.id}} </h2>

<form action="/posts/edit/{{post.id}}" method="POST">
    <label for="title">Title</label>
    <input class="form-control" type="text" value="{{post.title}}" aria-label="Enter title" name="title" id="title">
    <br />
    <label for="author">Author</label>
    <input class="form-control" type="text" value="{{post.author}}" aria-label="Enter author" name="author" id="author">
    <br />
    <label for="content">Content</label>
    <textarea class="form-control" placeholder="Enter your post content" name="content" id="content">
        {{post.content}}
    </textarea>
    <br />
    <input class="btn btn-primary" type="submit" value="Update" />
</form>

{% endblock %}