{% extends 'base.html' %}

{% block content %}
<h1>Home page</h1>

    <div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h1>Welcome to the blog</h1>
          <p>This is a simple example of a website developed with the Flask framework, showing GET/POST calls, and database integration!</p>
            <p>For a deeper understanding of Flask, see the official <a href="https://flask.palletsprojects.com/en/2.0.x">Flask website</a>!</p>
          <p>
            <a class="btn btn-primary" href="/posts" role="button">Go to posts &raquo;</a>
          </p>
        </div>
      </div>
    </div>

{% endblock %}