{% extends 'base.html' %}

{% block content %}
<div>
    <h2 style="display:inline">All posts</h2>
    <a class="btn btn-primary float-right" style="display:inline;float:right" href="/posts/create">New Post</a>
</div>
<br />

{% for post in posts %}
    <article class="d-flex content-section">
      <img class="rounded-circle article-img" src="{{url_for('static', filename='images/' + post.author.image_file)}}" />
      <div class="media-body" style="flex-grow:1">
        <div class="article-metadata d-flex" style="justify-content: space-between">
          <div class="mt-1">
          <b>{{ post.author.username }}</b>
          <small class="text-muted">{{post.created_on.strftime("%m/%d/%Y")}}</small>
          </div>
          <div>
          {% if post.author == current_user %}
                <a class="btn btn-outline-primary btn-sm mr-1 mb-1" href="/posts/edit/{{post.id}}">Edit</a>
                <!-- Use a button here to trigger a bootstrap modal for confirmation -->
                <button class="btn btn-outline-primary btn-sm mr-1 mb-1" data-bs-toggle="modal" data-bs-target="#deleteModal{{post.id}}">Delete</button>
          {% endif %}
          </div>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>

    <!-- Delete Modal (using an ID containing the post ID to ditinguish all modals -->
    <div class="modal fade" id="deleteModal{{post.id}}" tabindex="-1" aria-labelledby="deleteModalLabel{{post.id}}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel{{post.id}}">Post deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Do you really want to delete this post?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <form method="POST" action="{{ url_for('delete_post_handler', post_id=post.id) }}">
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>

{% endfor %}
{% endblock %}